body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color:#333333;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-navigation {
  position: relative;
}
.main-logo {
  position: absolute;
  left: 550px;
}

.main-list,
.sort-list,
.footer-social {
  list-style: none;
}

.main-list {
  display: flex;
  justify-content: space-around;
}

.main-list a,
.main-footer a,
.filter-price a,
.hotels-card-unit a {
  color: #000000;
}

 .main-list a:hover {
   color: #81b3d2;
}

 .main-list a:focus,
 .main-list a:hover {
   color: #81b3d2;
   outline: none;
}

 .main-list a:active {
   color: #000000;
   opacity: 0.3;
}
 
.filter a,
.type-more a,
.price-book a {
	color: #ffffff;
}

.item-active a{
  color: #766357;
}

.first-wrap,
.second-wrap, 
.filter {
  color: #ffffff;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;  
}

.container {
  background-color: #ffffff;
}

.major-header,
.button,
.main-footer > a
 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
	 	
.regular-header {
  font-size: 21px;
  line-height: 21px;
}

.regular-header-white {
  font-size: 21px;
  line-height: 21px;
  color:#ffffff;
}

.search-header {
  font-size: 30px;
  line-height: 36px;
}

.reasons {
  text-align: center;
}

.reason-first{
  display: flex;
  justify-content: space-between;

  text-align: center;
}

.reason-second {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  text-align: center;
}

.reason-first-list {
  display: flex;
  justify-content: space-around;

  text-align: center;
}

.reason-first,
.reason-second {
  background-color: #81b3d2;
}

.reason-third-fifth {
  display: flex;
  justify-content: space-around;

  text-align: center;
  background-color: #f2f2f2;
}

.search-hotels {
  text-align: center;
}
.form {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.search-item {
  text-align: center;
}

.search-adult-child {
  display:flex;
}

.button {
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border:none;
  outline:none;
}

.button:hover, 
.button:focus {
  background-color: #604e43;
}

.button:active {
  color: #928a85;
  background-color: #503e33;  
}

.search-item input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border:none;
 }

.search-item input:hover {
  background-color: #ebebeb;
}
.search-item input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline:none;
}

/* + и - */

.find {
  display: block;
  margin: 0 auto;

  color: #ffffff;

  background-color: #81b3d2;
  border: none;
 }

 .find:hover {
   background-color: #669ec0;
 }

 .find:active {
  color:#94b9d2;}

.filter {
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.filter-form {
  display: flex;
  justify-content: space-around;
}

.filter fieldset {
  border:none;
}
.filter legend {
  font-size: 16px;
  font-weight: bold;
}

.show {
  text-align: center;

}

.price-choice input {
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.found {
  display: flex;
  justify-content: space-around;
}

.sort-list {
  display: flex;

  margin: 0;
  padding: 0;
}

.sort {
  font-size: 12px;
  line-height: 18px;
}
.sort-item a{
  font-size: 12px;
  line-height: 18px;
  color:#000000;
  opacity: 0.3;
  outline: none;
}

.sort-item a:hover {
   color:#81b3d2;
   border-bottom: 1px dotted #81b3d2; 
   opacity: 1; 
}

.sort-item a:active {
   color: #000000;

   border: none;
}

.sort-link-active a {
  color: #81b3d2;
  opacity: 1;
}

.hotels-card-name a:hover {
  color: #81b3d2;
}

.hotels-card-unit {
  display: flex;  
} 
.card-wrap {
  display: flex;
  justify-content: space-around;
}

.hotel-wrap {
  display: flex;
}

.hotels-card-name a:active {
  color: #000000;
  opacity: 0.3;
}

.type-more a {
  background-color:#81b3d2;
}

.type-more a:hover {
  background-color:#669ec0;
}

.type-more a:active {
  color: #91b7d1;

  background-color:#5496bd;
}

.price-book a {
  background-color:#766357; 
}

.price-book a:hover {
  background-color:#604e43;
}

.price-book a:active {
  color: #928a85;

  background-color:#503e33;
}

.show a {
  border: 2px solid #ffffff;
  outline: none;
}

.show a:hover {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.main-footer {
  display: flex;
  justify-content: space-around;
}

.footer-social {
  display: flex;
  justify-content: space-around;

  width: 200px;
  margin: 0;
  padding: 0;
}




